//Base Colors
$dark-white-color: #f7f7f7;
$black-color: #000;
$light-gray-color: #eee;
$darker-gray-color: #c4c4c4;

$red-favourite-color: #e40017;


//Social Colors
$linked-in-blue: #2867B2;
$facebook-blue: #4267B2;
